.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 848px;
  width: 100%;
  position: relative;
  background: linear-gradient(115deg, #56ccf2 75%, #fcfcfd 75%, #fcfcfd 100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .header__nav {
    position: absolute;
    top: 51px;
    left: 193px; }

.nav {
  color: #fff; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .nav__item {
    padding: 0 32px; }
    .nav__item_title {
      font-weight: 700;
      font-size: 32px;
      line-height: 100%;
      color: #fff;
      padding-right: 80px; }
    .nav__item_act {
      padding: 0 70px; }
  .nav__link {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%; }
    .nav__link_active {
      position: relative; }
      .nav__link_active::after {
        position: absolute;
        content: "";
        width: 64px;
        height: 4px;
        left: 0;
        right: 0;
        bottom: -10px;
        background: #fcc304;
        border-radius: 32px; }
    .nav__link:hover {
      color: #e1e1f3; }

body,
html,
ul,
li,
button,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Muli", sans-serif;
  margin: 0;
  padding: 0;
  color: #253757; }

ul {
  list-style: none; }

a,
a:visited {
  text-decoration: none; }

body {
  background: #fcfcfd; }

body,
html {
  overflow-x: hidden; }

.main {
  display: block;
  width: 100%; }

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 160px; }
  .heading__content {
    margin-left: calc(227px + 98px); }
  .heading__name {
    font-weight: 900;
    font-size: 64px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 22px; }
  .heading__descrip {
    font-size: 24px;
    line-height: 150%;
    color: #fff; }
  .heading__button {
    margin-top: 42px;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    background-color: #fff;
    border-radius: 64px;
    width: 226px;
    height: 56px;
    border: none;
    cursor: pointer; }
    .heading__button:hover {
      background-color: #e1e1f3; }

.photo {
  margin-left: 227px;
  margin-top: 528px; }
  .photo__img {
    height: 640px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .photo__block {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 98px;
    bottom: -190px; }
  .photo__title {
    font-weight: 800;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2; }
  .photo__text {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 140%;
    color: #fff; }
  .photo__button {
    position: relative;
    width: 81px;
    height: 64px;
    background-color: #fcc304;
    border: none;
    bottom: 357px;
    left: -80px;
    border-radius: 50px 0 0 50px;
    cursor: pointer; }
    .photo__button:hover {
      background-color: #dfae0d; }
    .photo__button::after {
      content: "";
      color: #fff;
      display: block;
      position: absolute;
      top: 19px;
      right: 33px;
      width: 24px;
      height: 31px;
      background: url(../images/lg.svg) no-repeat; }
  .photo__left {
    position: relative;
    width: 81px;
    height: 64px;
    background-color: #fcc304;
    border: none;
    bottom: 357px;
    left: -80px;
    border-radius: 0 50px 50px 0;
    cursor: pointer; }
    .photo__left:hover {
      background-color: #dfae0d; }
    .photo__left::after {
      content: "";
      color: #fff;
      display: block;
      position: absolute;
      top: 19px;
      left: 33px;
      width: 24px;
      height: 31px;
      background: url(../images/gt.svg) no-repeat; }
  .photo__networks {
    position: relative;
    left: calc(50% + 65px);
    bottom: 200px; }

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }
  .networks__soc {
    font-weight: 800;
    font-size: 13px;
    line-height: 150%;
    color: #253757;
    text-transform: uppercase;
    padding-left: 85px; }
    .networks__soc:hover {
      color: #a1bdf1; }

.inform {
  margin-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 160px; }
  .inform__text {
    margin-top: 21px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%; }

.section {
  z-index: -1;
  position: relative;
  padding-top: 320px;
  padding-bottom: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.main-heading {
  margin-left: 37px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  color: #56ccf2;
  position: relative; }
  .main-heading::before {
    content: "";
    margin-left: -37px;
    display: block;
    position: absolute;
    background-image: url(../images/Vector.png);
    width: 21px;
    height: 21px; }

.product-card {
  background-color: #fff;
  padding-bottom: 160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 227px;
  padding-top: 160px; }
  .cards__item {
    width: 254px;
    margin-right: 128px; }

.picture__photo {
  width: 160px;
  height: 160px;
  border-radius: 50%; }

.picture__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 140%;
  margin: 64px 0 32px; }

.picture__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%; }

.title {
  top: -24px;
  position: relative;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: #253757; }

.process {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .process__inform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .process__heading {
    width: 362px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    padding-left: 160px;
    padding-bottom: 64px; }
  .process__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    width: 362px;
    padding-left: 160px;
    padding-bottom: 21px; }
  .process__title {
    padding-top: 160px;
    padding-left: 160px;
    padding-bottom: 21px; }

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 240px;
  height: 256px;
  background: #fff;
  -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.05);
          box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.05); }
  .block_another {
    margin-top: 128px; }
  .block__circle {
    position: absolute;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, from(#56ccf2), to(#56ccf2)), #c4c4c4;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #56ccf2, #56ccf2), #c4c4c4;
    opacity: 0.1;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    top: 48px;
    left: 96px; }
    .block__circle_two {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
      opacity: 0.1; }
    .block__circle_three {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, from(#03d542), to(#03d542)), #c4c4c4;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #03d542, #03d542), #c4c4c4;
      opacity: 0.1; }
    .block__circle_four {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656;
      opacity: 0.1; }
  .block__number {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2; }
    .block__number_two {
      color: #fcc304; }
    .block__number_three {
      color: green; }
    .block__number_four {
      color: #f25656; }
  .block__text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    text-align: center; }

.block__cards_one {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  display: block;
  margin-top: 336px;
  margin-left: 150px; }

.block__cards_two {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  display: block;
  margin-top: 225px;
  margin-left: 58px; }

.features {
  background-color: #56ccf2;
  height: 1000px;
  z-index: -1;
  position: relative;
  top: -165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0; }
  .features__title {
    color: white;
    margin-left: 41px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    position: relative; }
    .features__title::before {
      content: "";
      margin-left: -37px;
      display: block;
      position: absolute;
      background-image: url(../images/title.png);
      width: 21px;
      height: 21px; }
  .features__inform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 199px;
    margin-left: 231px; }
  .features__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    margin-top: 19px;
    margin-bottom: 69px; }

.slider_rotate {
  height: 1000px;
  width: 800px;
  position: absolute;
  top: 0;
  right: 0; }

.features__text {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 64px;
  position: relative;
  padding-left: 105px; }
  .features__text::before {
    content: "";
    position: absolute;
    background-image: url(../images/logo1.svg);
    height: 64px;
    width: 64px;
    left: 0; }
  .features__text_two {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 64px;
    position: relative;
    padding-left: 105px; }
    .features__text_two::before {
      content: "";
      position: absolute;
      background-image: url(../images/logo3.svg);
      height: 64px;
      width: 64px;
      left: 0; }
  .features__text_three {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 64px;
    position: relative;
    padding-left: 105px; }
    .features__text_three::before {
      content: "";
      position: absolute;
      background-image: url(../images/logo2.svg);
      height: 64px;
      width: 64px;
      left: 0; }

.testimonials {
  background-color: #fff; }
  .testimonials__title {
    margin-left: 270px;
    margin-bottom: 10px; }
  .testimonials__heading {
    margin-left: 70px;
    width: 362px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    padding-left: 160px;
    padding-bottom: 64px; }

.person {
  position: relative;
  padding: 240px 32px 58px;
  text-align: center;
  background-color: #fefefe;
  -webkit-box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
          box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05); }
  .person__decor {
    position: absolute;
    width: 160px;
    height: 64px;
    border-radius: 32px;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    left: calc(50% - 80px);
    top: 93px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2; }
  .person__photo {
    position: absolute;
    height: 123px;
    left: calc(50% - 55px);
    top: 102px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .person__img {
    height: 100%; }
  .person__description {
    font-style: italic;
    font-size: 14px;
    margin: 0; }
  .person__inform {
    font-size: 13px; }
    .person__inform::before {
      content: "";
      display: block;
      margin: 31px auto;
      width: 64px;
      height: 2px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2; }
  .person__name {
    font-weight: bold;
    margin: 0; }
  .person__position {
    font-weight: 800px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    color: #56ccf2; }

.people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 160px; }
  .people__item {
    -webkit-box-flex: 314;
        -ms-flex: 314 0 0px;
            flex: 314 0 0;
    margin: 0 40px;
    width: 314px; }

.person__first .person__decor,
.person__first .person__inform::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2; }

.person__second .person__decor,
.person__second .person__inform::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304; }

.person__third .person__decor,
.person__third .person__inform::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656; }

.vision {
  background-image: url(../images/vps-bg.svg);
  height: 608px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }
  .vision__title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 57px; }
  .vision__text {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 55px; }
  .vision__button {
    width: 226px;
    height: 56px;
    background: #2f80ed;
    border-radius: 64px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 1px;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 auto; }
    .vision__button:hover {
      background-color: #2370d4; }

.message {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 227px; }
  .message__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .message__heading {
    margin-bottom: 104px;
    margin-top: 97px; }
  .message__field {
    border: none;
    outline: none;
    margin-bottom: 67px;
    padding-bottom: 18px;
    width: 600px;
    background-color: #fcfcfd;
    border-bottom: 2px  solid  #e1e1e1; }
    .message__field::-webkit-input-placeholder {
      font-style: normal;
      font-weight: bold;
      font-size: 14.4px;
      line-height: 150%;
      color: #152032; }
    .message__field::-moz-placeholder {
      font-style: normal;
      font-weight: bold;
      font-size: 14.4px;
      line-height: 150%;
      color: #152032; }
    .message__field:-ms-input-placeholder {
      font-style: normal;
      font-weight: bold;
      font-size: 14.4px;
      line-height: 150%;
      color: #152032; }
    .message__field::-ms-input-placeholder {
      font-style: normal;
      font-weight: bold;
      font-size: 14.4px;
      line-height: 150%;
      color: #152032; }
    .message__field::placeholder {
      font-style: normal;
      font-weight: bold;
      font-size: 14.4px;
      line-height: 150%;
      color: #152032; }
  .message__button {
    width: 226px;
    height: 56px;
    background: #2f80ed;
    border-radius: 64px;
    border: none;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 60px; }
    .message__button:hover {
      background-color: #2370d4; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 128px; }
  .contact__heading {
    margin-top: 97px; }
  .contact__title {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    margin-top: 19px;
    margin-bottom: 41px; }
  .contact__text {
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .contact__phone, .contact__address {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2;
    margin-bottom: 41px; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .logo__img {
    width: 32px;
    height: 32px;
    margin-right: 48px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 136px;
  margin-bottom: 83px;
  margin-left: 227px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer__design {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%; }

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.navigation__item {
  padding: 0 32px; }

.navigation__link {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #253757; }
  .navigation__link:hover {
    color: #31588a; }

@media screen and (max-width: 640px) {
  html,
  body {
    overflow-x: hidden; }
  .header {
    width: 100%;
    height: 1150px;
    background: #56ccf2; }
  .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
    .heading__content {
      margin-left: 80px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 150px; }
    .heading__name {
      font-size: 50px;
      margin-top: 100px; }
    .heading__descrip {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      max-width: 250px;
      font-size: 20px;
      margin-bottom: 15px; }
    .heading__button {
      width: 200px;
      height: 50px;
      margin: 25px auto; } }

@media screen and (max-width: 640px) {
  .header__nav {
    left: 80px; }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .nav__item {
    margin-top: 10px; }
  .nav__item_title {
    padding: 0;
    font-size: 40px; }
  .nav__link {
    font-weight: bold;
    font-size: 24px; }
    .nav__link::after {
      width: 80px; } }

@media screen and (max-width: 640px) {
  .photo {
    margin-left: 0;
    margin-top: 900px; }
    .photo__title, .photo__text {
      display: none; }
  .photo__img {
    width: 100%;
    height: 350px; }
  .photo__button {
    margin-top: 320px;
    margin-left: 160px; } }

@media screen and (max-width: 640px) {
  .section {
    padding-top: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .inform {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 250px; } }

@media screen and (max-width: 640px) {
  .cards {
    margin-top: -40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-left: 40px; }
    .cards__item {
      margin-bottom: 30px; }
  .picture__photo {
    margin-left: 50px;
    margin-bottom: -20px; }
  .picture__description {
    margin-top: -20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 640px) {
  .process {
    margin-top: -50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 40px; }
    .process__title {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0; }
    .process__text {
      padding-left: 0;
      width: 260px; }
    .process__heading {
      margin-top: 20px;
      width: 260px;
      padding-left: 0;
      padding-bottom: 20px; } }

@media screen and (max-width: 640px) {
  .block__cards_one {
    display: inline-block;
    margin-top: 20px;
    margin-left: 0; }
  .block__cards_two {
    display: inline-block;
    margin-left: 0;
    margin-top: 130px; } }

@media screen and (max-width: 640px) {
  .slider_rotate {
    display: none; } }

@media screen and (max-width: 640px) {
  .features {
    height: 1100px; }
    .features__inform {
      display: block;
      margin-left: 40px; }
    .features__text {
      padding-left: 0;
      padding-top: 20px; }
      .features__text::before {
        top: -60px;
        left: calc(50% - 65px); }
      .features__text_two {
        padding-left: 0;
        padding-top: 80px; }
        .features__text_two::before {
          top: -20px;
          left: calc(50% - 65px); }
      .features__text_three {
        padding-left: 0;
        padding-top: 110px; }
        .features__text_three::before {
          top: 10px;
          left: calc(50% - 65px); } }

@media screen and (max-width: 640px) {
  .testimonials__title {
    padding-left: 0;
    margin-left: 80px; }
  .testimonials__heading {
    margin-top: 20px;
    margin-left: -120px;
    width: 300px; }
  .people {
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .people__item {
      width: 270px;
      margin-top: 30px; } }

@media screen and (max-width: 640px) {
  .message {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 40px; }
    .message__field {
      width: 300px; } }

@media screen and (max-width: 640px) {
  .contact {
    margin-left: 0; }
    .contact__logo__img {
      margin-right: 0;
      margin-left: 50px; } }

@media screen and (max-width: 640px) {
  .footer {
    margin-top: 20px;
    margin-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media screen and (max-width: 640px) {
  .navigation__list {
    margin-left: 60px;
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media screen and (max-width: 900px) {
  html,
  body {
    overflow-x: hidden; }
  .header {
    width: 100%;
    height: 1200px;
    background: #56ccf2; }
  .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
    .heading__content {
      margin-left: 80px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 150px; }
    .heading__name {
      font-size: 50px;
      margin-top: 100px; }
    .heading__descrip {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      max-width: 250px;
      font-size: 20px;
      margin-bottom: 15px; }
    .heading__button {
      width: 150px;
      height: 50px;
      margin: 0 auto; } }

@media screen and (max-width: 900px) {
  .header__nav {
    margin-left: 0 auto; }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .nav__item {
    margin-top: 10px; }
  .nav__item_title {
    padding: 0;
    font-size: 40px; }
  .nav__link {
    font-weight: bold;
    font-size: 24px; }
    .nav__link::after {
      width: 80px; } }

@media screen and (max-width: 900px) {
  .photo {
    margin-left: 0;
    margin-top: 900px; }
    .photo__title, .photo__text {
      display: none; }
  .photo__img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 350px; }
  .photo__button {
    margin-top: 320px;
    margin-left: 160px; } }

@media screen and (max-width: 900px) {
  .section {
    padding-top: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .inform {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; } }

@media screen and (max-width: 900px) {
  .cards {
    margin-top: -40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 40px; }
    .cards__item {
      margin-bottom: 30px; }
  .picture__photo {
    margin-left: 50px;
    margin-bottom: -20px; }
  .picture__description {
    margin-top: -20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 900px) {
  .process {
    margin-top: -50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 40px; }
    .process__title {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0; }
    .process__text {
      padding-left: 0;
      width: 100%; }
    .process__heading {
      width: 100%;
      margin-top: 20px;
      padding-left: 0;
      padding-bottom: 20px; } }

@media screen and (max-width: 900px) {
  .block__cards_one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-left: 0; }
  .block__cards_two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-left: 0;
    margin-top: 130px; } }

@media screen and (max-width: 900px) {
  .slider_rotate {
    display: none; } }

@media screen and (max-width: 900px) {
  .features {
    height: 1100px; }
    .features__inform {
      margin-left: 40px; }
    .features__text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding-left: 0;
      padding-top: 20px; }
      .features__text::before {
        top: -60px;
        left: calc(50% - 65px); }
      .features__text_two {
        width: 100%;
        padding-left: 0;
        padding-top: 80px; }
        .features__text_two::before {
          top: -20px;
          left: calc(50% - 65px); }
      .features__text_three {
        padding-left: 0;
        padding-top: 110px; }
        .features__text_three::before {
          top: 10px;
          left: calc(50% - 65px); } }

@media screen and (max-width: 900px) {
  .testimonials__title {
    padding-left: 0;
    margin-left: 80px; }
  .testimonials__heading {
    width: 100%;
    margin-top: 20px;
    margin-left: -120px; }
  .people {
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .people__item {
      -webkit-box-flex: 314px;
          -ms-flex: 314px 0 0px;
              flex: 314px 0 0;
      margin-top: 30px; } }

@media screen and (max-width: 900px) {
  .message {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 40px; }
    .message__field {
      width: 80%; } }

@media screen and (max-width: 900px) {
  .contact {
    margin-left: 0; }
    .contact__logo__img {
      margin-right: 0;
      margin-left: 50px; } }

@media screen and (max-width: 900px) {
  .footer {
    margin-top: 20px;
    margin-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media screen and (max-width: 900px) {
  .navigation__list {
    margin-left: 60px;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

/*# sourceMappingURL=main.css.map */
