.header {
  height: 850px;
  position: relative;
  padding-top: 48px;
  background: linear-gradient(115deg, #56ccf2 75%, #f8fcfd 75%, #f8fcfd 100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 1146px;
    margin: auto; }
  .header__content {
    padding-left: 98px;
    padding-right: 98px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.center {
  max-width: 1147px;
  width: 100%;
  margin: auto; }

.nav {
  text-align: center;
  color: #fff; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .nav__item {
    margin-right: 63px; }
    .nav__item_act {
      padding: 0 70px; }
    .nav__item_logo {
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      color: #fff;
      margin-right: 143px; }
  .nav__link {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%; }
    .nav__link_active {
      position: relative; }
      .nav__link_active::after {
        position: absolute;
        content: "";
        width: 64px;
        height: 4px;
        left: 0;
        right: 0;
        bottom: -10px;
        background: #fcc304;
        border-radius: 32px; }
    .nav__link:hover {
      color: #e1e1f3; }
  .nav #toggle {
    display: none; }

@media screen and (max-width: 1200px) {
  .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header {
    background: #56ccf2;
    height: 700px; }
    .header__content {
      padding-left: 10px;
      padding-right: 10px;
      text-align: center; }
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center; }
  .nav__list {
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .nav__item {
    margin-left: 0;
    margin-bottom: 4px;
    margin-right: 40px; }
    .nav__item_logo {
      font-size: 56px; }
  .nav__link {
    font-size: 36px; }
    .nav__link_active::after {
      width: 120px; }
  .section_web {
    padding: 20px; } }

hr {
  color: #77777e;
  margin-top: 100px;
  width: 90%; }

body,
html,
ul,
li,
button,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Muli", sans-serif;
  margin: 0;
  padding: 0;
  color: #253757; }

ul {
  list-style: none; }

a,
a:visited {
  text-decoration: none; }

body {
  background: #fcfcfd; }

body,
html {
  overflow-x: hidden; }

.dia {
  display: block; }

.header__name {
  font-weight: 900;
  font-size: 64px;
  line-height: 150%;
  color: #fff;
  margin-bottom: 22px;
  margin-top: 80px; }

.header__descrip {
  font-size: 24px;
  line-height: 150%;
  color: #fff; }

.header__button {
  margin-top: 42px;
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  background-color: #fff;
  border-radius: 64px;
  width: 226px;
  height: 56px;
  border: none;
  cursor: pointer; }
  .header__button:hover {
    background-color: #e1e1f3; }

@media screen and (max-width: 450px) {
  .header__button {
    width: 100px;
    height: 56px; }
  .header {
    background: #56ccf2;
    height: 800px; } }

@media screen and (max-width: 698px) {
  .header__button {
    width: 200px;
    height: 56px; }
  .header {
    background: #56ccf2; }
  .menu__toggle {
    opacity: 0;
    position: absolute;
    top: -100%; }
  .menu__toggle:checked ~ .menu__btn > .menu__span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .menu__toggle:checked ~ .menu__btn > .menu__span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  .menu__toggle:checked ~ .menu__btn > .menu__span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  .menu__toggle:checked ~ .nav__list {
    opacity: 1;
    top: 40px; }
  .menu__btn {
    display: block;
    position: relative;
    margin: 20px auto 0;
    width: 40px;
    height: 100%;
    cursor: pointer;
    z-index: 1; }
  .menu__span::before, .menu__span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #253757;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .nav__item_logo {
    display: none; }
  .menu__span::before {
    content: '';
    top: -8px; }
  .menu__span::after {
    content: '';
    top: 8px; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    position: relative; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    opacity: 0;
    margin: 0 auto;
    top: -100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 90%;
    padding: 70px 0;
    list-style: none;
    background-color: #fff;
    border-radius: 20px;
    -webkit-box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.4);
            box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.4);
    -webkit-transition: opacity 2s, top 1s, background-color 0.3s, color 0.3s;
    transition: opacity 2s, top 1s, background-color 0.3s, color 0.3s; }
  .nav__link {
    display: block;
    margin-left: 30px;
    color: #56ccf2;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition-duration: .1s;
            transition-duration: .1s; }
    .nav__link_active::after {
      width: 80px; }
  .nav__link:hover {
    color: #fcc304; }
  .nav__link:active {
    color: #fcc304; } }

.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin: calc(640px / -2) auto 0;
  max-width: 1146px; }
  .photo__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .photo__img {
    height: 640px; }
  .photo__title {
    position: absolute;
    font-weight: 800;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2;
    left: 98px;
    bottom: 144px; }
  .photo__text {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
    position: absolute;
    left: 98px;
    bottom: 80px; }
  .photo__button {
    position: relative;
    width: 81px;
    height: 64px;
    background-color: #fcc304;
    border: none;
    border-radius: 50px 0 0 50px;
    cursor: pointer; }
    .photo__button:hover {
      background-color: #dfae0d; }
    .photo__button::after {
      content: "";
      color: #fff;
      display: block;
      position: absolute;
      top: 19px;
      right: 33px;
      width: 24px;
      height: 31px;
      background: url(../images/lg.svg) no-repeat; }
  .photo__left {
    position: relative;
    width: 81px;
    height: 64px;
    background-color: #fcc304;
    border: none;
    border-radius: 0 50px 50px 0;
    cursor: pointer; }
    .photo__left:hover {
      background-color: #dfae0d; }
    .photo__left::after {
      content: "";
      color: #fff;
      display: block;
      position: absolute;
      top: 19px;
      left: 33px;
      width: 24px;
      height: 31px;
      background: url(../images/gt.svg) no-repeat; }
  .photo__networks {
    position: absolute;
    top: 230px;
    left: calc(80% + 50px); }

.button {
  position: absolute;
  bottom: calc(50% - 33px);
  left: -80px; }

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }
  .networks__soc {
    font-weight: 800;
    font-size: 13px;
    line-height: 150%;
    color: #253757;
    text-transform: uppercase;
    padding-left: 85px; }
    .networks__soc:hover {
      color: #a1bdf1; }

@media screen and (max-width: 850px) {
  .photo {
    margin-top: 0; }
  .photo__img {
    height: 300px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .button {
    top: calc(50% + 66px);
    left: 80px; } }

.inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .inform__text {
    margin-top: 21px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%; }

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 160px;
  margin-bottom: 160px; }

.main-heading {
  left: 37px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  color: #56ccf2;
  position: relative; }
  .main-heading::before {
    content: "";
    left: -37px;
    display: block;
    position: absolute;
    background-image: url(../images/Vector.png);
    width: 21px;
    height: 21px; }

.product-card {
  background-color: #fff;
  padding-bottom: 160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 160px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .cards__item {
    width: 264px; }
    .cards__item_second, .cards__item_third {
      padding-left: 175px; }

.picture__photo {
  width: 160px;
  height: 160px;
  border-radius: 50%; }

.picture__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 140%;
  margin: 64px 0 32px; }

.picture__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  width: 264px; }

.title {
  top: -24px;
  position: relative;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: #253757; }

@media screen and (max-width: 599px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 160px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .cards__item {
      width: 264px; }
      .cards__item_second, .cards__item_third {
        padding-left: 0;
        padding-top: 40px; }
  .picture__photo {
    margin-left: 50px; } }

@media screen and (max-width: 830px) {
  .product-card {
    background-color: #fff;
    padding-bottom: 160px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 160px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .cards__item_second, .cards__item_third {
      padding-left: 175px; }
    .cards__item_third {
      margin-top: 50px; } }

.process {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .process__inform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .process__heading {
    width: 362px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    padding-bottom: 64px; }
  .process__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    width: 362px;
    padding-bottom: 21px; }
  .process__title {
    padding-top: 160px;
    padding-bottom: 21px; }

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 186px; }

@media screen and (max-width: 850px) {
  .process {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .process__title {
      padding-top: 0; }
    .process__inform {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .process__heading {
      width: 100%; }
    .process__text {
      width: 100%; }
  .box {
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media screen and (max-width: 400px) {
  .process__heading {
    width: 300px; }
  .process__text {
    width: 300px; } }

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 256px;
  width: 240px;
  background: #fff;
  -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.05);
          box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.05); }
  .block_another {
    margin-top: 128px; }
  .block__circle {
    position: absolute;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, from(#56ccf2), to(#56ccf2)), #c4c4c4;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #56ccf2, #56ccf2), #c4c4c4;
    opacity: 0.1;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    top: 48px;
    left: 96px; }
    .block__circle_two {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
      opacity: 0.1; }
    .block__circle_three {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, from(#03d542), to(#03d542)), #c4c4c4;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #03d542, #03d542), #c4c4c4;
      opacity: 0.1; }
    .block__circle_four {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656;
      opacity: 0.1; }
  .block__number {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2; }
    .block__number_two {
      color: #fcc304; }
    .block__number_three {
      color: green; }
    .block__number_four {
      color: #f25656; }
  .block__text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    text-align: center; }

.block__cards_one {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  display: block;
  margin-top: 336px;
  margin-left: 50px; }

.block__cards_two {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  display: block;
  margin-top: 225px;
  margin-left: 58px; }

@media screen and (max-width: 599px) {
  .block__cards_one {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 240px;
    display: block;
    margin-top: 0;
    margin-left: 0; }
  .block__cards_two {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 240px;
    display: block;
    margin-top: 100px;
    margin-left: 0; }
  .block_another {
    margin-top: 100px; }
  .box {
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media screen and (min-width: 600px) and (max-width: 850px) {
  .box {
    margin-left: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .block__cards_one {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 240px;
    display: block;
    margin-top: 0;
    margin-left: 0; } }

.features {
  background-color: #56ccf2;
  height: 1000px;
  z-index: -1;
  position: relative;
  top: -160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0; }
  .features__title {
    color: white;
    margin-left: 41px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    position: relative; }
    .features__title::before {
      content: "";
      margin-left: -37px;
      display: block;
      position: absolute;
      background-image: url(../images/title.png);
      width: 21px;
      height: 21px; }
  .features__inform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 198px; }
  .features__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-size: cover;
    height: 1000px;
    width: 780px;
    top: 0; }
  .features__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    margin-top: 19px;
    margin-bottom: 69px; }

@media screen and (max-width: 856px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .features__photo {
    display: none; } }

.features__text {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 64px;
  position: relative;
  padding-left: 105px; }
  .features__text::before {
    content: "";
    position: absolute;
    background-image: url(../images/logo1.svg);
    height: 64px;
    width: 64px;
    left: 0; }
  .features__text_two {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 64px;
    position: relative;
    padding-left: 105px; }
    .features__text_two::before {
      content: "";
      position: absolute;
      background-image: url(../images/logo3.svg);
      height: 64px;
      width: 64px;
      left: 0; }
  .features__text_three {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 64px;
    position: relative;
    padding-left: 105px; }
    .features__text_three::before {
      content: "";
      position: absolute;
      background-image: url(../images/logo2.svg);
      height: 64px;
      width: 64px;
      left: 0; }

@media screen and (max-width: 850px) {
  .features__text {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 20px;
    padding-top: 40px; }
    .features__text::before {
      top: -40px;
      left: calc(50% - 65px); }
    .features__text_two {
      width: 100%;
      padding-left: 0;
      padding-top: 40px; }
      .features__text_two::before {
        top: -40px;
        left: calc(50% - 65px); }
    .features__text_three {
      padding-left: 0;
      padding-top: 40px; }
      .features__text_three::before {
        top: -40px;
        left: calc(50% - 65px); } }

.testimonials {
  background-color: #fff; }
  .testimonials__cotainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .testimonials__hidden {
    width: 500px;
    height: 100px;
    margin-left: 277px; }
  .testimonials__title {
    margin-bottom: 10px; }
  .testimonials__heading {
    width: 362px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    padding-bottom: 64px; }

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.person {
  position: relative;
  padding: 240px 32px 58px;
  text-align: center;
  background-color: #fefefe;
  -webkit-box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
          box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05); }
  .person__decor {
    position: absolute;
    width: 160px;
    height: 64px;
    border-radius: 32px;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    left: calc(50% - 80px);
    top: 93px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2; }
  .person__photo {
    position: absolute;
    height: 123px;
    left: calc(50% - 55px);
    top: 102px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .person__img {
    height: 100%; }
  .person__description {
    font-style: italic;
    font-size: 14px;
    margin: 0; }
  .person__inform {
    font-size: 13px; }
    .person__inform::before {
      content: "";
      display: block;
      margin: 31px auto;
      width: 64px;
      height: 2px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2; }
  .person__name {
    font-weight: bold;
    margin: 0; }
  .person__position {
    font-weight: 800px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    color: #56ccf2; }

.people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .people__item {
    margin: 0 40px;
    width: 314px; }

.person__first .person__decor,
.person__first .person__inform::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2; }

.person__second .person__decor,
.person__second .person__inform::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304; }

.person__third .person__decor,
.person__third .person__inform::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656; }

@media screen and (max-width: 850px) {
  .testimonials__hidden {
    display: none; }
  .people {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0; }
    .people__item {
      margin-bottom: 50px; } }

.vision {
  background-image: url(../images/vps-bg.svg);
  height: 608px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }
  .vision__title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 57px; }
  .vision__text {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 55px; }
  .vision__button {
    width: 226px;
    height: 56px;
    background: #2f80ed;
    border-radius: 64px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 1px;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 auto; }
    .vision__button:hover {
      background-color: #2370d4; }

.message {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .message__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .message__heading {
    margin-bottom: 104px;
    margin-top: 97px; }
  .message__field {
    border: none;
    outline: none;
    margin-bottom: 67px;
    padding-bottom: 18px;
    width: 600px;
    background-color: #fcfcfd;
    border-bottom: 2px  solid  #e1e1e1; }
    .message__field::-webkit-input-placeholder {
      font-style: normal;
      font-weight: bold;
      font-size: 14.4px;
      line-height: 150%;
      color: #152032; }
    .message__field::-moz-placeholder {
      font-style: normal;
      font-weight: bold;
      font-size: 14.4px;
      line-height: 150%;
      color: #152032; }
    .message__field:-ms-input-placeholder {
      font-style: normal;
      font-weight: bold;
      font-size: 14.4px;
      line-height: 150%;
      color: #152032; }
    .message__field::-ms-input-placeholder {
      font-style: normal;
      font-weight: bold;
      font-size: 14.4px;
      line-height: 150%;
      color: #152032; }
    .message__field::placeholder {
      font-style: normal;
      font-weight: bold;
      font-size: 14.4px;
      line-height: 150%;
      color: #152032; }
  .message__button {
    width: 226px;
    height: 56px;
    background: #2f80ed;
    border-radius: 64px;
    border: none;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 60px; }
    .message__button:hover {
      background-color: #2370d4; }

@media screen and (max-width: 850px) {
  .message {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .message__field {
      width: 90%; } }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 180px; }
  .contact__heading {
    margin-top: 97px; }
  .contact__title {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    margin-top: 19px;
    margin-bottom: 41px; }
  .contact__text {
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .contact__phone, .contact__address {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2;
    margin-bottom: 41px; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .logo__img {
    width: 32px;
    height: 32px;
    margin-right: 48px; }

@media screen and (max-width: 850px) {
  .contact {
    margin-left: 0;
    padding: 0; }
  .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 83px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .footer__design {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    margin-right: 320px;
    color: #727275; }

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.navigation__item {
  padding: 0 32px; }

.navigation__link {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #253757; }
  .navigation__link:hover {
    color: #727275; }

@media screen and (max-width: 999px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0; }
    .footer__design {
      margin-right: 0;
      margin-left: 12px;
      font-size: 14px; }
  .navigation {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .navigation__list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      justify-items: center; }
    .navigation__item {
      justify-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

@media screen and (max-width: 1200px) {
  .header {
    background: #56ccf2; }
  .photo {
    margin-top: 0; }
  .photo__img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .button {
    top: calc(100% - 33px);
    left: 80px; }
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 160px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .cards__item {
      width: 264px; }
      .cards__item_second, .cards__item_third {
        padding-left: 20px; }
  .picture__photo {
    margin-left: 50px; }
  .block__cards_one {
    margin-left: 0; }
  .box {
    margin-left: 0; }
  .process__heading,
  .process__text {
    width: 300px; }
  .features {
    height: 1200px; }
  .features__photo {
    height: 1180px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 500px; }
  .testimonials__hidden {
    display: none; }
  .people {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0; }
    .people__item {
      margin-bottom: 50px; }
  .message {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .message__field {
      width: 90%; }
  .contact {
    margin-left: 0; }
  .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

/*# sourceMappingURL=main.css.map */
